# langchain==0.2.16
# langchain-community==0.2.16
# langchain-ollama==0.1.2
# streamlit==1.38.0
# pypdf==4.3.1
# pysqlite3-binary
# chromadb
# langchain-chroma


# Core LangChain stack (newer & compatible)
langchain==0.2.16
langchain-community==0.2.16
langchain-chroma==0.1.4
langchain-ollama==0.1.3
langchain-core==0.2.38

# Vector DB
chromadb==0.5.6

# Utilities
pysqlite3-binary
pypdf==4.3.1
numpy==1.26.4

# App framework
streamlit==1.38.0
