# # with Ollama
# streamlit==1.38.0
# langchain==0.2.16
# langchain-community==0.2.16
# langchain-ollama==0.1.3
# langchain-core==0.2.38
# chromadb==1.0.19
# pysqlite3-binary
# pypdf==4.3.1
# numpy==1.26.4

streamlit==1.38.0
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
chromadb==1.0.19
pysqlite3-binary
pypdf==4.3.1
numpy==1.26.4
langchain-google-genai